body {
    background-color: black;
    font-family: arial;
    color: white;
    }
  h1 {color:grey;font-family:verdana; }
  .maindiv {
      background-color: white;
      color: black;
      width: 500px;
      padding: 50px 20px;
      border-radius: 25px;
      margin: auto;
  }
  mark {
    background-color: yellow;
  }
  
  .content {
    display: inline-block;
    width: 500px;
    padding: 2px 20px 2px 70px;
  }
  
  label {
    display: inline-block;
    width: 90px;
    margin: 0px 0 8px;
  }
  
