/* Styles the main body*/
body {
    background-color: black;
    font-family: arial;
    color: white;
}

/* Styles the header (title of the calculator*/
h1 {
    color:grey;
    font-family:verdana; 
}

/* Styles the container of all the content*/
.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 50px 20px;
    border-radius: 25px;
    margin: auto;
}

/* Highlights the output values in the result*/
mark {
    background-color: yellow;
}

/* Created for alignment purposes*/
.content {
    display: inline-block;
    width: 500px;
    padding: 2px 20px 2px 70px;
}

/* Created for alignment purposes*/
 label {
    display: inline-block;
    width: 90px;
    margin: 0px 0 8px;
}
  
